body {
    margin: 0;
    background-color: #1B244A;
    color: white;
}

.container {
    display: flex;
    justify-content: space-around;
    font-size: x-large;
    /* border: 1px solid black; */
    height: 65px;
    padding-left: 8px
}

.score-boards {
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
}

.score-board {
    width: 105px;
    height: 60px;
    /* border: 1px solid green; */
    text-align: center;
    /* padding-top: 20px; */
    font-family: Cursed Timer ULiL;
    font-size: 50px;
    background-color: black;
    color: #F94F6D;
    border-radius: 5px;  
   
}

.score-btn {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 15px;
    
}

.points-btn > button {
    border: 1px solid white;
    background-color: #1B244A;
    color: white;
    border-radius: 5px;
    
    
}